.adoptablesCardsSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.adoptablesImg {
  max-width: 30rem;
  height: 17rem;
}

.cardButton {
  width: 100%;
  height: 42px;
  border: none;
  font-size: 21px;
}
