.getInvolvedSection {
  margin-bottom: 90px;
}

.getInvolvedText {
  text-align: center;
  font-weight: 900;
  font-size: 55px;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.cardImg:hover {
  transform: scale(1.05);
}
