.navbar {
  height: 180px;
  border: none;
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #212529; */
  /* background-color: #ffd4d4; */
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logoImage {
  width: 180px;
  height: 160px;
  cursor: pointer;
  margin-left: -25px;
  margin-right: 20px;
}

.foreverHomeText {
  font-weight: 1000;
  font-size: 45px;
}

.navbar-nav {
  gap: 30px;
}

.menu {
  font-size: 18px;
}
