.navbar {
  border: none;
}

/* background-color: #ffd4d4; */

.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logoImage {
  width: 180px;
  height: 160px;
  cursor: pointer;
  margin-left: -25px;
  margin-right: 5px;
}

.foreverHomeText {
  font-weight: 1000;
  font-size: 55px;
}

.navbar-nav {
  gap: 30px;
}

.menu {
  font-size: 20px;
}
